table tr:first-child th{
	writing-mode: vertical-rl;
	text-orientation: upright;
}

td, th{
	padding: 0.3rem;
}

th{
	font-weight: bold;
	background-color: black;
	color: white;
}

td{
	border: 1px solid black;
	text-align: center;
	width: 1rem;
}
